.HeaderItems {
    height: 80px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: black;
}

.Navbar{
   color: aliceblue;
    color: #000;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-top: 10rem;

}

.flash {
    color: #000;
    text-align: center;
    list-style: none;
}

.flashletters, 
.aboutletters,
.contactletters{
    color: aliceblue;
    text-decoration: none;
    justify-content: end;
    gap: 2rem;
    padding: 0 1rem;
    text-align: right;
    font-size:x-large;
    margin: 0;
    box-sizing: border-box;

    
}

.aboutletters:hover,
.flashletters:hover {
    background-color: grey;
    
}